<% provide(:title, "About us") %>

<h1>About us</h1>

<p>The Spiritism Society of Ireland - SSI is an independent, non-profit Spiritist Group, established in Dublin since 2009, that aims to study, practice and bring to Ireland the Spiritist Doctrine as codified by Allan Kardec in three foundational aspects: Philosophical, Religious and Scientific.</p>
<p>We have healing sessions, public meetings, children's gospel and gospel studies group.</p>
<p>Healing Sessions: Sundays from 10:45 am to 11:15 am</p>
<p>Public Meetings & Children's Gospel: Sundays from 11:15 am to 12 pm</p>
<p>Gospel Study Group: Tuesdays from 7 pm to 9 pm</p>
