<% provide(:title, "Contact us") %>

<h1>Contact us</h1>
<p>You can find our Library at The Lantern Centre - 15, Synge Street, Dublin 8 - Ireland every Sunday from 10:30 am to 12:30 pm.</p>
<p>Webpage: http://www.spiritismireland.com</p>
<p>Facebook page: https://www.facebook.com/SpiritistSocietyIreland/</p>
