<% provide(:title, "FAQ's") %>

<h1>Frequent Asked Questions</h1>

<p><strong>How can I rent a book?</strong></p>
<p>To rent a book you can visit us at The Lantern Center every Sunday (except before Bank Holidays) or you can browse on our website. After you select your book to be rented you will be asked to register in our page or login in your account. You will then be able to reserve your book to be rented. Unfortunately we are not able to deliver the books at the moment so you will need to go to The Lantern Center in one of the days we are there (Sunday or Tuesday) and collect your books. You will find the times we are open in our Contact Page.</p>
<p><strong>How can I buy a book?</strong></p>
<p>The process to buy a book is very similar to rent a book but at The Lantern Center you will process the payment. At the moment we only accept cash. To see the times we are at The Lantern Center visit our Contact Page.</p>
<p><strong>How many days can I keep the book I rent for?</strong></p>
<p>You can keep the book you rent for up to 4 weeks. Is it possible to renew the renting. Just inform us at The Lantern Center or send us an e-mail. Wait for the confirmation to be sure that you will be able to renew the renting. Some times we have a waiting list but we will be glad to let you now for how long you can keep the book with yourself.</p>
<p><strong>Do you delivery the books?</strong></p>
<p></p>Unfortunately we are not able to deliver the books at the moment. They need to be collected at The Lantern Center.
<p><strong>Can I return the book I bought?</strong></p>
<p></p>Yes, you can. You have 2 weeks to bring the book back to us. The book will need to be inspected and the return will be agreed with the president of the Spiritist Society of Ireland or the manager of the library.</p>
<p><strong>If you still have any doubts do not hesitate and send us a message or call us. We will be very happy to help you!</strong></p>