<% provide(:title, "Home") %>

<div class="home">
    <p><strong>Welcome to the</strong></p>
    <h1>Spiritism Society of Ireland Library</h1>
</div>

<div class="home_image">
      <%=yield %>
</div>

<%=render 'layouts/popular'%>